%div{:id => 'query', :class => 'builder', :data => {:role => 'page', :title => "Query"}}
  = haml :_header_col, :layout => false, :locals => {:title => @mrm.new? ? "New map reduce" : @mrm.name }
  %div{:class => 'col', :data => {:role => 'content'}}
    %h2 Settings
    .add-remove
      .clearfix.row.add-remove-element
        %div.pair
          %label
            Field:
            %input{:type =>  "text", :name => "name", :class => "text", :value => @mrm.name}
        %div.pair
          %label
            Condition:
            %input{:type =>  "text", :name => "database", :class => "text", :value => @mrf.misc.database}
  = haml :_footer, :layout => false