%div.header{:data=>{:role => 'header'}}
  %h1= title || 'Marbu(h)'
  %a{:href => '/builder/new#misc', :data => {:transition => 'slide', :ajax => 'false', :icon => 'plus'}, :class => "ui-btn-right"} New