%div.header{:data=>{:position=>'fixed', :role => 'header'}}
  - if defined?(show_home)
    %a{ :href => "/", :data => {:role => "button", :icon => "home", :ajax => 'false'}, :class => 'ui-btn-left'} Home
  %h1= title
  - if defined?(show_settings)
    %a{ :href => "#misc", :data => {:icon => "gear"}, :class => 'ui-btn-right'} Settings