%div.header{:data=>{:position=>'fixed', :role => 'header'}}
  %a{ :href => "/", :data => {:icon => "home", :ajax => 'false'}, :class => 'ui-btn-left'} Home
  %h1= title
  %a{ :href => "#misc", :data => {:icon => "gear"}, :class => 'ui-btn-right'} Settings