%div{:id => 'builder', :data => {:role => 'page'}}
  = haml :header, :layout => false
  %div{:data => {:role => 'content'}}
    %ul{:data => {:role => 'listview'}}
      - [@map, @reduce, @finalize].each do |mr_step|
        - type = mr_step[:type]
        %li
          %a{:href => '/builder/col/' + type, :data => {:transition => 'slide'}}=type.capitalize

      = haml :footer, :layout => false