%div{:data => {:role => 'content'}}
  - if @error.present?
    = @error.to_s
    %a{:href => @fix_link, :data => {:transition => 'slide', :role => 'button'}}= 'Fix it'
  - else
    %textarea{:type => "text", :name => "key1", :class => "text", :rows => 10, :cols => 100}= @res.find().limit(1000).to_a.inspect
    %input{:type => "submit", :value => "Save", :class => "button"}

  %a{:href => "/builder/#{@mrm.uuid}", :data => {:transition => 'slide', :role => 'button'}}= 'Back'
