%div{:id => 'root', :data => {:role => 'page'}}
  = haml :_header, :layout => false, :locals => { :title => "Listing map reduce objects" }
  %div{:data => {:role => 'content'}}
    %ul{:data => {:role => 'listview'}}
      - @mrms.each do |mrf|
        - uuid = mrf.uuid
        - name = mrf.name
        %li
          %a{:href => '/builder/' + uuid, :data => {:transition => 'slide', :ajax => 'false'}}=name.capitalize

  = haml :_footer, :layout => false